/* Hide Streamlit menu only */
#MainMenu {visibility:hidden;}
header {visibility:hidden;}
footer {visibility:hidden;}

/* App Background */
.stApp{
    background-color:#0F172A;
}

/* Main Area */
.block-container{
    padding-top:1rem;
    padding-left:2rem;
    padding-right:2rem;
    max-width:100%;
}

/* Headings */
h1,h2,h3{
    color:white !important;
}

p,label{
    color:white !important;
}

/* KPI Cards */
div[data-testid="metric-container"]{
    background:#1E293B;
    border:1px solid #334155;
    border-radius:18px;
    padding:20px;
    box-shadow:0 4px 12px rgba(0,0,0,.35);
}

/* Sidebar */
section[data-testid="stSidebar"]{
    background:#111827;
}

/* Dataframe */
[data-testid="stDataFrame"]{
    border-radius:12px;
}

/* Plotly Charts */
.js-plotly-plot{
    border-radius:18px;
}

/* ================= KPI CARDS ================= */

div[data-testid="metric-container"]{
    background: linear-gradient(145deg,#1E293B,#0F172A);
    border:1px solid #334155;
    padding:20px;
    border-radius:18px;
    box-shadow:0 8px 20px rgba(0,0,0,.35);
    transition:0.3s;
}

div[data-testid="metric-container"]:hover{
    transform:translateY(-5px);
    border:1px solid #06B6D4;
    box-shadow:0 0 20px rgba(6,182,212,.45);
}

/* ================= CHART CONTAINER ================= */

div[data-testid="stPlotlyChart"]{
    background:#1E293B;
    border-radius:20px;
    padding:15px;
    border:1px solid #334155;
    box-shadow:0 8px 20px rgba(0,0,0,.35);
    margin-bottom:20px;
}

/* ================= PAGE SPACING ================= */

.block-container{
    max-width:1600px;
    padding-top:2rem;
    padding-left:2rem;
    padding-right:2rem;
}

/* ================= TABLE ================= */

div[data-testid="stDataFrame"]{
    border-radius:18px;
    overflow:hidden;
    border:1px solid #334155;
}